body{
    background-image: url(../images/paper\ back\ ground.jpg);
    background-size: cover;
}
.nav {
	color: white;
	background-color: rgb(74, 51, 44) !important;

}
.button {
	background-color: rgb(74, 51, 44) !important;;

}
.container-fluid{
	background-color: rgb(74, 51, 44) !important;
}
.navbar-brand{
	color:white !important;
}
.navbar-toggler-icon{
	color:rgb(74, 51, 44) !important;
}
.nav-link{
	color:rgb(255, 255, 255) !important;
	background-color: rgb(74, 51, 44) !important;
	
}
.navbar-nav{
	align-items: right;
}.display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-container {
    display: flex;
    flex-direction: row;
  }
  
  /* Responsive layout - makes a one column layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}
